PORT=3000
MONGODB_URI=mongodb+srv://practicaIntermedia:Practica1234@practica.jpdrdnp.mongodb.net/bildyapp?retryWrites=true&w=majority&appName=Practica
JWT_SECRET=7f2a9c4e1b8d3f6a0e5c2b9d4f7a1e3c
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=b4e8f2a6c0d9e3b7f1a5c8d2e6f0a4b9
JWT_REFRESH_EXPIRES_IN=7d